/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1 {
    text-align: center;
    color: #ffff;
  }
  
  /* Navigation bar */
  nav {
    background-color: #333;
    padding: 1em;
    text-align: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  
  nav a:hover {
    color: #ddd;
  }
  
  /* Container for the form */
  .container {
    border: 50px;
    padding: 20px;
    background-color: #474747;
    color:#ffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  /* Results styling */
  #results {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #007bff;
  }
  
  /* Weight guide styling */
  #weight-guide {
    margin-top: 30px;
    background-color: #f9f9f9;
    color: #212121;
    padding: 15px;
    border-radius: 8px;
  }
  
  #weight-guide h3 {
    text-align: center;
  }
  
  #weight-guide p {
    font-size: 14px;
  }
  